<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        Administrator Section
    </title>

      <!--<%= stylesheet_link_tag "theme/transdmin.css" %>-->
      <!--<%= stylesheet_link_tag "common.css" %>-->
      <!--<%= stylesheet_link_tag "users/user-section.css" %>-->

      <!--<%= javascript_include_tag "jquery-1.10.2.js" %>-->
      <!--<%= javascript_include_tag "jquery.validate.min.js" %>-->
      <!--<%= javascript_include_tag "common.js" %>-->
      <!--<%= javascript_include_tag "users/user-section.js" %>-->

  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application" %>

</head>
<body>
<div>

    <div id="wrapper" class="main-container">

        <%= render 'includes/header' %>

        <table>
            <tr>
                <td style="width: 150px; line-height: 30px;">Running projects</td>
                <td style="width:50px">:</td>
                <td><%=runningProjects%></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px">Closed projects</td>
                <td style="width:50px">:</td>
                <td><%=closedProjects%></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px" colspan="3"><hr/></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px">Current bugs count</td>
                <td style="width:50px">:</td>
                <td><%=currentBugs%></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px">Fixed bugs count</td>
                <td style="width:50px">:</td>
                <td><%=fixedBugs%></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px">Unresolved bugs</td>
                <td style="width:50px">:</td>
                <td><%=unresolvedBugs%></td>
            </tr>
        </table>

        <?php
            if(isset($userBugs) && count($userBugs)>0){

                echo "<br/><br/><b>Bugs you are assigned on</b><br/><br/>";

                $i = 0;
                foreach($userBugs as $userBug){
                    ++$i;
                    echo "$i. <a href='$root/bug-detail/$userBug->id'>" . $userBug->bug->title . "</a><br/><br/>";
                }
            }
        ?>
    </div>
</div>

<%= render 'includes/footer' %>
</body>
</html>