<% content_for :css do %>
    <%= stylesheet_link_tag "theme/transdmin.css" %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag "users/user-section.js" %>
<% end %>


<div>

    <div id="wrapper" class="main-container">

        <%= render 'includes/header' %>

        <table>
            <tr>
                <td style="width: 150px; line-height: 30px;">Running projects</td>
                <td style="width:50px">:</td>
                <td><%=@runningProjects%></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px">Closed projects</td>
                <td style="width:50px">:</td>
                <td><%=@closedProjects%></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px" colspan="3"><hr/></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px">Current bugs count</td>
                <td style="width:50px">:</td>
                <td><%=@currentBugs%></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px">Fixed bugs count</td>
                <td style="width:50px">:</td>
                <td><%=@fixedBugs%></td>
            </tr>
            <tr>
                <td style="width: 150px; line-height: 30px">Unresolved bugs</td>
                <td style="width:50px">:</td>
                <td><%=@unresolvedBugs%></td>
            </tr>
        </table>

        <%
            if @userBugs && @userBugs.count>0

                print("<br/><br/><b>Bugs you are assigned on</b><br/><br/>")

                @i = 0;
                @userBugs.each do |userBug|
                    ++$i;
                    print(@i + ". <a href='" + @root + "/bug-detail/" + @userBug.id + "'>" + @userBug.bug.title + "</a><br/><br/>")
                end
            end
        %>
    </div>
</div>

<%= render 'includes/footer' %>
