<% content_for :css do %>
    <%= stylesheet_link_tag "theme/transdmin.css" %>
    <%= stylesheet_link_tag "bugs/detail.css" %>
    <%= stylesheet_link_tag "bugs/list.css" %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag "jquery.simplemodal.js" %>
    <%= javascript_include_tag "bugs/detail.js" %>
<% end %>

<div>

    <div id="wrapper" class="main-container">

        <%= render 'includes/header' %>

        <div class="header">
            <div class="form-row">
                <a href="<%=@root%>/list-bugs/<%=@project.id%>">Back</a>
                <br/>
            </div>
            <br/>

            <div class="form-row">
                Project: <b><%=@project.name%></b><br/>
            </div>

            <div class="form-row">
                Posted by :
            </div>
            <div class="form-row">
                Level : <span class="<%=@bug.severity.downcase%>"><%=@bug.severity%></span>
            </div>
            <br/>
            <div class="form-row">
                <strong><%=@bug.title%></strong>
            </div>
            <br/>
            <div class="form-row">
                <%=@bug.description%>
            </div>
            <br/>
            <%
                if @bugFiles and @bugFiles.count>0

                    @bugFiles.each do |bugFile|
            %>
                        <div class='form-row'>";
                            <a href='<%=@root%>/download-bug/<%=@bug.id%>'><%=@bugFile.file_name%></a>
                        </div>
            <%
                    end
                end
            %>

            <br/>
            <div class="form-row">
                <form action="<%=@root%>/save-bug-comment" id="form-comment" method="post" target="ifr" enctype="multipart/form-data" onsubmit="return checkComment()">
                    <textarea name="comment" rows="5" cols="40" placeholder="Add your comment"></textarea>

                    <br/><br/>

                    <div class="form-row"><span class="add-file">Add attachment</span></div>

                    <br/>

                    <div class="form-row file-container"></div>
                    <br/>

                    <input type="submit" name="btn-add-comment" value="Add comment"/>
                </form>
                <iframe id="ifr" name="ifr" style="width:1px;height:1px;visibility: hidden"></iframe>
            </div>

            <div class="form-row bug-comments"></div>

        </div>

        <div id="bug-comments"></div>
    </div>

</div>

<%= render 'includes/footer' %>